* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*movile*/
@media()
body{
  background: #E8E8E8;
  color: #444;
  font-size: 16px;
  text-align: center;
}
header{
  display: flex;
  background: #444;
  color: white;
  padding: 1em;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
  z-index: 10;
  height: 250px;
}
.titulo h1{
    background: #444;
    color: white;
    height: 45px;
    text-align: center;
}
h1 {
  font-size: 50px;
  font-family: 'kaushan Script',verdana,sans-serif;
  font-weight: normal;  /*quitar negrita*/
}
h2 {
  text-align: right;
  color: #E8E8E8;
  padding-right: 30px;

}
.descripcion p{
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  font-size: 22px;
  text-align: justify;
}
.img-container{
  order: -1;
  width: 200px;
  text-align: auto;
}
.img-container img{
 /*text-align: center;*/
 border-radius: 35%;


}
img{
  max-width: 100%;
display: flex;
z-index: 5;
}
/*que hago parallax*/
.content{
  position: relative;
  background-attachment: fixed;
}
#content_que_hago{
  position: relative;
  background-image: url(../img/code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  opacity: 0.8;
}
#content_que_hago h1{
  position: absolute;
  text-align: center;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
  display: block;
  height: 30px;
}
.content_logros h1{
  padding-left: 30px;
  padding-top: 10px;
}
/*diseño */
#content_que_hago h1{
  color: #fff;
}
.content_person h1{
  margin-top: 10px;
  text-align: center;
  color: #fff;
  padding-left: 30px;
  text-shadow: 0px 0px 14px rgba(0,0,0,0.75);
}
/*espiritualidad */
.content_person_img{
  background-image: url(../img/spirit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 305px;
  opacity: 0.9;
}
html.mobile .content_person {
 height: 100vh;
  padding-top: 20vh;
}
.content_person p span{
  width: 80%;
  margin: 0 auto;
  display: block;
  background-color: rgba(8,8,42,0.75);
  color: #fff;
  padding: 20px 20px;
  line-height: 1.4em;
  box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
}
.carousel-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*carousel tiempo libre*/
.carousel-gridFreeTime{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.carousel-gridFreeTime .carousel-itemFreeTime{
  cursor: pointer;
}
.carousel-itemFreeTime{
  border: 10px solid white;
  border-radius: 2px;
  margin: 50px 20px;
  width: 300px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.carousel-itemFreeTime img{
  display: block;
  width: 100%;
  user-select: none;
}
.carousel-itemFreeTime figcaption{
  height: 40px;
  padding: 10px 0;
  font-size: 14px;
  background: white;
}
.carousel-grid .carousel-item{
  cursor: pointer;
}
.carousel-item{
  width: 200px;
  padding: 10px 0;
  font-size: 14px;
  background: white;
}
.carousel-item img {
  display: block;
  width: 100%;
  opacity: 0.9;
  user-select: none;
}
.carousel-item figcaption{
  border: 1px solid black;
  overflow: inherit;
  font-size: 14px;
  height: 40px;
  padding: 10px 5px;
  height: 105px;
  background: white;
}
.lacnem{
  width: 600px;
}
/*posts*/
.posts{
  padding: 0.5em;
}
.posts .post{
  background: white;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  color: #7A7A7A;
}
.posts .post .description{
  color: #444;
}
.posts .post .description{
  color: #444;
}
.posts .post .description .detalles{
  height: 160px;
  margin-left: 130px; 
}
.posts .post .description .detalles .titulo {
 color: #444;
 font-size: 18px;
 font-style: italic; 
 margin: 0;
 padding: 0.5em 0.5em 0 0;
}
.posts .post .description .imagen{
 float: left;
}
.posts .post .description .imagen img{
  height: 150px;
  padding: 0.5em;
  vertical-align: top;
  width: 160px;
}