<!DOCTYPE html>
<html ng-app="login">
  <head>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css" />

  </head>
  <body>
    <div class="container" ng-controller="loginUser">

        <h1> Login </h1>

        <div class="col-sm-10">

            <form id="formulario" name="formulario" ng-submit="validateLogin()" novalidate ng-hide="loginOk">

                <label>Nombre</label>
                <input type="text" name="nombre" class="form-control" ng-model="user.nombre" required />

                <div ng-show="!user.nombre && formulario.$submitted "  class="alert alert-warning">
                Debes rellenar esta casilla
                </div>



                <label>Email</label>
                <input type="text" name="email" class="form-control" ng-model="user.email"/>

                <div class="alert alert-warning"   ng-show="formulario.$submitted && !user.email">
                    Debes rellenar esta casilla
                </div>



                <br>
                <input class="btn btn-primary" type="submit"  value="LOGIN" />


            </form>


             <div ng-show="loginOk" class="well">

                <h3>¡ Bienvenido !</h3>

                <h4> {{user.nombre}} <br>Tu correo es : ({{user.email}}) </h4>

            </div>

        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js" charset="utf-8"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js" charset="utf-8"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
